body {
  background-color: #DFCEB4;
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif;
}
h1 {
  color: #715223;
  font-family: cursive;
  font-size: 60px;
  font-style: oblique;
}
h2 {
  color: #715223;
  font-family: sans-serif;
  font-size: 36px;
}
h3 {
  color: #8B4513;
  font-family: sans-serif;
}

span {
  color: saddlebrown;
}
#special {
  color: #715223;
}
